* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
}

:root {
    --index: calc(1vh + 1vw);
}

body {
    font-family: Inter, sans-serif;
    color: #050505;
    font-size: calc(var(--index) * 1.8);
}

.progress {
    padding: 20px;
    height: 100vh;

    .container {
        margin: 0 auto;
        max-width: calc(var(--index) * 59.4);

        .progress__title {
            margin-bottom: calc(var(--index) * 6.5);
            line-height: 1.5;
        }

        .progress__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
            max-width: calc(var(--index) * 52.3);
            margin: 0 auto;


            #progress__block {

                svg {
                    width: calc(var(--index) * 13.6);
                    height: calc(var(--index) * 13.6);
                    transform: rotate(-90deg);
                }
            }

            .progress__controls {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .label {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }

                .value-input {
                    outline: none;
                    width: calc(var(--index) * 4.95);
                    height: calc(var(--index) * 3.15);
                    text-align: center;
                    font-size: calc(var(--index) * 1.8);
                    border: 1px solid #050505;
                    border-radius: calc(var(--index) * 2.7);
                    margin-right: 24px;
                    caret-color: #050505;
                }

                .checkbox-toggle[type='checkbox'] {
                    position: relative;
                    cursor: pointer;
                    width: calc(var(--index) * 4.95);
                    border-radius: calc(var(--index) * 2.7);
                    height: calc(var(--index) * 3.15);
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    margin-right: 24px;
                    background-color: #dae6ec;
                    transition: .3s;

                    &:before {
                        content: '';
                        width: calc(var(--index) * 2.7);
                        height: calc(var(--index) * 2.7);
                        background-color: white;
                        position: absolute;
                        border-radius: 50%;
                        left: calc(var(--index) * 0.3);
                        transition: .3s;
                        top: calc(50% - calc(var(--index) * 2.7) / 2);
                    }
                }

                .checkbox-toggle[type='checkbox']:checked {
                    background-color: #005cff;

                    &:before {
                        transform: translateX(calc(var(--index) * 1.7));
                    }
                }
            }
        }
    }
}

.hidden {
    visibility: hidden;
}