@media screen and (max-width: 567px) {
    .progress {
        .container {
            .progress__container {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, 120px);
                grid-row-gap: 81px;
            }
        }
    }
}